body {
  margin: 0;
  overflow: hidden;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
}

#information {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
    color: white;
}

#menu {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
  color: white;
}

.title {
  text-align: center;
  font-size: 30px;
}

.title b {
  font-size: 80px;
}

.item {
  position: relative;
  text-align: center;
  
}

.inquietant {
  font-weight: bold;
  font-size: 20;
  text-transform: uppercase;
  animation: inquietant 2s infinite alternate;
}

@keyframes inquietant {
  from {
    transform: scale(1);
    color: white;
    text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
  }
  to {
    transform: scale(1.1);
    color: rgb(180, 0, 0);
    text-shadow: 0 0 10px black;
  }
}

#health {
  position: absolute;
  top: 10px;
  left: 10px;
}

#gameScores {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#help {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 15px;
  color: white;
}

#popup {
  position: fixed;
  bottom: 1%;
  left: 40%;
  right: 40%;
  background-color: #404040;
  color: #ffffff;
  opacity: 0.9;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

#endScreen {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
  
  opacity: 0;
  animation-name: grow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    font-size: 0;
    opacity: 0;
  }
  to {
    font-size: 80px;
    opacity: 1;
  }
}

#endScreenSubTitles {
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 25px;
  font-weight: bold;
  color: white;
}